.main-header{
  background-color: #46586A;
  border: #132537 solid 1px;
  color: #E6E6E6;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  min-height: 120px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  margin-bottom: 50px;
}

.main-header .title{
  margin: 0;
  font-size: 4em;
}

.main-header a{
  color: #ffffff;
  text-decoration: none;
}

.main-header a:hover{
  color: #ffffff;
  text-decoration: none;
  color: #E6E6E6;
  transition: all 0.6s;
}


.main-header .login a{
  font-size: 2.5em;
  color: white;
}

.main-header .login a:hover{
  color: #E6E6E6;
}

div.login{
  display: flex;
  align-items: center;

}

.login p{
  margin: 0px 15px;
  font-size: 1.5em;
}

.menu{
  display: flex;
  width: 30%;
  justify-content: space-between;
}


.icon{
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  margin: 0px 30px;
  display: block;

}

.icon p{
  display: inline;
  font-size: 1.5em;

}

div.icon:hover{
  color: #CDCDCD;
  transition: all 0.2s;

}

.icon span{
  display: block;
  font-size: 2em;
  margin-bottom: 5px;
}

.login-box{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0 auto;
  background: #fafafa;
  max-width: 400px;
  min-height: 300px;
  border: 1px solid #E1E1E1;
  box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);
  -webkit-box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);
  -moz-box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);
}

form table{
  margin: 40px auto 20px auto;
}

div#idea-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

div.idea{
  /*
  -webkit-box-shadow: 0 .28571429rem 1.42857143rem rgba(79,79,79,.1);
  -moz-box-shadow: 0 .28571429rem 1.42857143rem rgba(79,79,79,.1);
  box-shadow: 0 .28571429rem 1.42857143rem rgba(79,79,79,.1);
  border: 1px solid #E5E5E5;   */
  //display: block;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  //margin: 0 auto;
  padding: 15px;
  background: #fafafa;
  min-width: 500px;
  max-width: 500px;
  min-height: 300px;
  position: relative;
  border: 1px solid #E1E1E1;
  box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);
  -webkit-box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);
  -moz-box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);

}

.idea-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 10px;
}

.idea-header h1,
.idea-header p{
  margin: 0;
}

.idea-desc{
  text-align: left;
  margin-top: 20px;
  padding: 0 20px;
}

.bold{
  font-weight: bold;
}

.idea-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  width: 100%;

}

.idea-footer p{
  margin-bottom: 0;

}

.idea-footer button{
  background-color:#337ab7;  
  color: #fafafa;
}

.phase{
  font-size: 1.5em;
}

.like-menu{
  display: flex;
  align-items: center;
  font-size: 1.5em;
}


.like-menu p{
  display: inline;

  margin-bottom: 0;
  margin-left: -3px;
  font-size: 1.15em;

}


.liked,
.liked a{
  color: #00B238;
}

.disliked,
.disliked a{
  margin-left: 10px;
  color: #FF0400;
}




@media (min-width: 321px) and (max-width: 480px)
{
.main-header{
    min-height: 150px;
    justify-content: space-around;
  }


  .login p{
    display: none;

  }

  .menu{
    //width: 65%;
    flex-basis: 100%;
    order: 1;
    margin-top: 20px;
  }
}

@media (min-width: 481px) and (max-width: 767px)
{
  .main-header{
    min-height: 150px;
    justify-content: space-around;
  }


  .login p{
    display: none;

  }

  .menu{
    //width: 65%;
    flex-basis: 100%;
    order: 1;
    margin-top: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1024px)
{
  .main-header{
    min-height: 150px;
  }

  .icon{
    font-size: 0.8em;
  }

  .login p{
    display: none;
  }

  .menu{
    width: 65%;
  }

}

.like {
  color: #0014f2;
}

.dislike {
  color: #f20000;
}

.activeVote {
  font-weight: bold;
}
