@charset "UTF-8";
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif !important;
}

.content {
  flex: 1;
}

/*Main header*/
/*Cabecalho principal*/
.main-header {
  background-color: #333;
  border: #132537 solid 1px;
  color: #E6E6E6;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  height: 60px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.main-header .title {
  margin: 0;
  position: absolute;
  left: 20px;
}

.title img {
  height: auto;
  width: 125px;
}

.main-header a {
  color: #ffffff;
  text-decoration: none;
}

.main-header a:hover {
  color: #ffffff;
  text-decoration: none;
  color: #B3B3B3;
  transition: all 0.6s;
}

.main-header .login a {
  font-size: 0.9em;
  color: white;
}

.main-header .login a:hover {
  color: #E6E6E6;
}

.menu {
  display: flex;
  width: 40%;
  justify-content: center;
  margin: 0 auto;
}

div.login {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
}

.icon {
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  margin: 10px 0px;
  display: block;
}

.icon .fa-plus {
  font-size: 0.6em;
}

.unavailable span,
.unavailable p {
  color: #a3a3a3;
  cursor: default;
}

.icon p {
  display: inline;
  font-size: 1.15em;
}

/* div.icon:hover{
  color: #CDCDCD;
  transition: all 0.2s;

} */
.icon span {
  display: inline-block;
  font-size: 1.15em;
  margin-bottom: 0px;
}

.login p {
  margin: 0px 15px;
  font-size: 1.1em;
}

/*Secondary menu*/
/*Menu secundário*/
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: white;
  border-bottom: 1px solid #E1E1E1;
  height: 80px !important;
}

.fixed ~ .group {
  margin-top: 85px;
}

nav.phase-filter {
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
}

ul.phase-list {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.75em;
}

ul.phase-list li {
  float: left;
  margin-right: 0px;
  border-right: 1px solid #000;
  padding: 0 20px;
}

ul.phase-list li:last-child {
  border-right: none;
}

ul.phase-list li a {
  text-decoration: none;
  color: #000;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

ul.phase-list li a:hover {
  color: #666;
}

ul.phase-list li.active a {
  font-weight: bold;
  color: #333;
}

.empty {
  display: block;
  margin: 30px auto 0 auto;
  font-size: 1.8em;
}

/*IFRAME*/
iframe#bot-iframe {
  position: fixed;
  right: 25px;
  bottom: 0;
  width: 300px;
  z-index: 6000;
  height: 430px;
}

.bot-control {
  width: 299px;
  background-color: #2b303e;
  color: white;
  height: 30px;
  position: fixed;
  bottom: 0;
  right: 27px;
  border: 1px solid black;
  text-align: center;
  font-size: 1.8em;
  transition: all 0.7s;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 130px;
  z-index: 100000;
}

.bot-control p {
  font-size: 15px;
  font-weight: bold;
  padding-top: 2px;
}

.bot-control svg {
  transform: rotate(180deg);
}

.bot-control[aria-expanded=false] {
  bottom: 0;
  transition-delay: 0.7s;
}

.bot-control[aria-expanded=true] {
  bottom: 430px;
}

.bot-control[aria-expanded=true] svg {
  bottom: 430px;
  transform: rotate(0deg);
}

.bot-control[aria-expanded=false] svg {
  bottom: 0;
  transform: rotate(180deg);
  transition-delay: 0.7s;
}

/*IFRAME*/
/*Login*/
.login-box {
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 50px auto;
  background: #FFF0;
  max-width: 360px;
  min-height: 300px;
  border: 2px solid #E1E1E1;
  box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);
  -webkit-box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);
  -moz-box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);
}

.login-box form {
  margin: 32px auto;
}

.login-box form .login-field {
  width: 249px;
  background: #f2f2f2;
  margin: 0 0 15px;
  border: none;
  font-weight: 300;
  font-size: 20px;
  padding: 11px 10px 9px;
}

.login-box .login-info {
  margin-top: 45px;
}

.login-box .login-icon {
  height: auto;
  width: 100px;
  margin-top: 25px;
}

.login-box .login-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  border: 0;
  padding: 15px;
  width: 249px;
  min-width: 269px;
  color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.login-error-message {
  width: 400px;
  margin: auto;
}

form table {
  margin: 40px auto 20px auto;
}

div#idea-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 100px;
}

div.idea {
  /*
  -webkit-box-shadow: 0 .28571429rem 1.42857143rem rgba(79,79,79,.1);
  -moz-box-shadow: 0 .28571429rem 1.42857143rem rgba(79,79,79,.1);
  box-shadow: 0 .28571429rem 1.42857143rem rgba(79,79,79,.1);
  border: 1px solid #E5E5E5;   */
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0 0 50px 0;
  padding: 0 15px 10px 15px;
  background: #fafafa;
  width: 525px;
  height: 300px;
  position: relative;
  border: 1px solid #E1E1E1;
  box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);
  -webkit-box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);
  -moz-box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);
  justify-content: space-between;
}

.idea-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E1E1E1;
  min-height: 45px;
  height: 45px;
}

.idea-header .idea-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1em;
  font-weight: bold;
  z-index: 1;
  max-width: 85%;
}

.idea-header h1,
.idea-header p {
  margin: 0;
}

.idea-header .date {
  font-size: 0.8em;
  position: absolute;
  left: 0;
  right: 0;
}

.idea-header .info-icon {
  font-size: 1.5em;
  color: #1c2d5a;
  position: absolute;
  right: 50px;
  top: 9px;
  cursor: pointer;
}

.no-link {
  cursor: default !important;
}

.idea-options {
  font-size: 1.65em;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-self: flex-start;
  padding-top: 10px;
}

.idea-options ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.idea-options a {
  display: block;
  padding: 5px;
  text-decoration: none !important;
  font-size: 0.6em;
  padding: 10px;
}

.idea-options label {
  display: block;
  cursor: pointer;
  margin-bottom: 0;
  width: 30px;
  align-self: flex-end;
  font-size: 0.8em;
  z-index: 4;
}

input.menu-input {
  display: none;
}

.idea-options input:checked ~ .options-content {
  max-height: inherit;
  border: 1px solid #E1E1E1;
}

.options-content {
  max-height: 0;
  overflow: hidden;
  background: #fff;
  padding: 0px;
  width: 125px;
  border-left: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1;
  z-index: 5;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 35px;
  right: 20px;
}

.options-content a {
  color: black;
}

.options-content a:hover {
  color: black;
}

.options-content a:hover {
  background: #EEEEEE;
}

.options-content div.action {
  display: inline-block;
}

.options-content .actions {
  font-size: 1.3em;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.actions button,
.actions a {
  padding: 0;
  background: inherit;
  border: none;
  font-size: 0.8em;
}

.actions button:hover {
  cursor: pointer;
}

.action {
  margin: 0 9px;
}

.action button:hover,
.action a:hover {
  background: inherit;
  color: inherit;
}

.edit a {
  color: #1f5093;
}

.delete button {
  color: #e52d2a;
}

.options-content li:nth-last-child(1) {
  border-top: 1px solid #E1E1E1;
  padding: 15px;
}

/*idea card body*/
.idea-body {
  text-align: left;
  padding: 0 20px;
  font-size: 0.9em;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px 20px;
  min-height: 200px;
}

.idea-author {
  text-align: center;
  margin-bottom: 0.3em;
}

.idea-description {
  margin-bottom: 0;
}

.read-more {
  text-align: center;
  margin-bottom: 0;
  color: #007bff;
  display: block;
}

.idea-body:hover {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.idea-title {
  font-size: 1.1em;
  font-weight: bold;
}

/*idea card footer*/
.idea-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*! position: absolute; */
  /*! bottom: 0; */
  margin: 0;
  width: 100%;
  border-top: 1px solid #E1E1E1;
  /*! max-width: 524px; */
  padding: 15px 0 5px 0;
  max-height: 40px;
}

.idea-footer p {
  margin-bottom: 0;
}

.idea-footer .button-group button {
  background-color: #E1E1E1;
  border: 1px solid #AEAEAE;
}

.phase {
  display: flex;
  align-items: center;
}

.phase-name {
  font-size: 1.2em;
  font-weight: 400;
}

.phase-symbol {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 9px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-size: 1.6em;
}

.discussion-phase {
  color: #f68b2c;
}

.rate-phase {
  color: #D95578;
}

.aproved-phase {
  color: #107906;
}

.develop-phase {
  color: #30a2a6;
}

.done-phase {
  color: #065B8D;
}

.archived-phase {
  color: #726C69;
}

.phase-indicator {
  border-radius: 10px;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.discussion {
  background-color: #f68b2c;
}

.rate {
  background-color: #D95578;
}

.aproved {
  background-color: #107906;
}

.develop {
  background-color: #30a2a6;
}

.done {
  background-color: #065B8D;
}

.archived {
  background-color: #726C69;
}

.evaluation {
  background-color: #054a02;
}

.paused {
  background-color: #DDD;
}

/* .discussion{
  border-left: 5px solid #f68b2c !important;

}

.rate{
  border-left: 5px solid #D95578 !important;
}

.aproved{
    border-left: 5px solid #107906 !important;
}

.develop{

  border-left: 5px solid #30a2a6 !important;
}

.done{
  border-left: 5px solid #065B8D !important;
}

.archived{
  border-left: 5px solid #726C69 !important;
} */
.like-menu {
  display: flex;
  align-items: center;
  font-size: 1em;
}

.like-menu p {
  display: inline;
  margin-bottom: 0;
  margin-left: -3px;
  font-size: 1.15em;
}

.liked a,
.disliked a {
  text-decoration: none !important;
  outline: 0 !important;
}

.liked a:hover,
.disliked a:hover,
.liked a:focus,
.disliked a:focus {
  color: inherit !important;
  text-decoration: none !important;
}

.liked,
.liked a {
  color: #00B238;
}

.disliked,
.disliked a {
  margin-left: 5px;
  color: #FF040099;
}

/*Footer*/
footer {
  background: #fafafa;
  border-top: 1px solid #E6E6E6;
  min-height: 60px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 50;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
}

footer.landing-page {
  min-height: 60px;
  background: #333;
  color: #E6E6E6;
}

/*Modals*/
.modal-dialog {
  margin-top: 200px;
  max-width: 600px !important;
}

#modal-idea-crud .modal-content {
  border-left: 5px solid #36aed3;
  font-family: "Open Sans", sans-serif;
  padding: 0 10px 0 5px;
}

#modal-idea .idea {
  margin-left: 17px;
  margin-top: 25px;
}

.modal-header {
  display: flex;
  flex-direction: row-reverse;
}

.modal-header h4 {
  display: inline;
  margin: 0;
}

.modal-header svg {
  font-size: 1.7em;
  margin-right: 4px;
  color: #36aed3;
}

.modal-title h1 {
  font-size: 1em;
}

.modal-title span {
  font-size: 1.1em;
}

.modal-body textarea {
  width: 100%;
  resize: none;
}

input#id_title {
  width: 100%;
}

.modal-body label {
  display: block;
}

.modal-footer button {
  background: #36aed3;
  border: 1px solid #36aed3;
  color: white;
  font-weight: bolder;
  font-size: 1em;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

#modal-term .modal-dialog {
  max-width: 900px !important;
}

#modal-term .modal-body {
  max-height: 600px;
  overflow-y: auto;
}

#modal-term .modal-header {
  justify-content: center;
}

.term-btn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 8px;
  font-weight: bold;
}

#term-accept {
  background-color: #32b384;
  border: 1px solid #2c9b72;
  color: white;
}

#term-accept:hover {
  text-decoration: none;
  background-color: #2c9b72;
}

#modal-term .modal-header svg {
  font-size: 1.3em;
  margin-right: 4px;
  color: #2c9b72;
}

/*Corpo da página de ideia*/
.idea-page {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  font-family: "Open Sans", sans-serif;
}

.idea-desc {
  width: 60%;
  height: inherit;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

.idea-desc p {
  line-height: 1.8;
}

.idea-interaction {
  width: 37%;
  height: 90vh;
  border-radius: 2px;
}

.separator {
  width: 1px;
  background-color: #B4B0B0;
  margin: 0 25px;
}

.idea-desc-title {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idea-desc-title p {
  margin-bottom: 5px;
}

.desc-body {
  height: 80%;
  overflow-y: auto;
  padding: 20px 0 20px 20px;
}

.desc-body h3 {
  font-size: 1.4em;
}

.desc-body p {
  line-height: 1.8;
}

.desc-footer {
  height: 10%;
}

.desc-title {
  font-size: 1.6em;
  text-align: center;
}

.author {
  font-size: 0.9em;
  text-align: center;
}

#idea-tab {
  display: flex;
  justify-content: flex-start;
}

.tab-content {
  padding: 0;
}

.nav-item a {
  outline: none;
}

.comments {
  padding: 0px 0 10px 0;
  height: 70vh;
}

.comment-list {
  overflow-y: auto;
  height: inherit;
}

.comment {
  margin: 25px 0;
}

#comment-message {
  margin: 15px 0 0px 0;
}

#commentForm {
  margin-bottom: 0;
}

#commentContent {
  resize: none;
}

.nav-link.active {
  font-weight: bold;
}

.form-group.comment-group {
  margin-top: 5px;
}

.media-left {
  margin-left: 25px;
}

.reply-link {
  text-align: left;
}

.comment-header {
  margin: 0 0 10px 0;
}

.c-author {
  font-weight: bold;
  font-size: 0.9em;
}

.c-date {
  font-size: 0.7em;
}

.action-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.action-group a {
  display: block;
  width: 50%;
  padding: 8px 0px;
  text-align: center;
  border-radius: 6px;
  font-size: 1em;
  font-weight: bold;
  margin: 10px 0;
}

.action-group .edit {
  color: #1f5093;
  border: solid 3px #1f5093;
}

.action-group .discard {
  color: #e52d2a;
  border: solid 3px #e52d2a;
}

.action-group a:hover {
  text-decoration: none;
}

.idea-page-action .action-icon {
  font-size: 1.5em;
  margin-right: 5px;
}

.action-group .edit:hover {
  background: #1f5093;
  color: #fefefe;
  transition: all 0.3s;
  border: 3px solid #1f5093;
}

.action-group .discard:hover {
  background: #e52d2a;
  color: #fefefe;
  transition: all 0.3s;
  border: 3px solid #e52d2a;
}

.eval-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.empty-eval {
  text-align: center;
  font-size: 1.2em;
}

.eval-title h2 {
  font-size: 1.5em;
}

.eval-title p {
  font-size: 1.2em;
}

.eval-title span {
  font-weight: bold;
}

.dimension-group {
  direction: flex;
  flex-direction: column;
  margin-bottom: 28px;
  margin-top: 15px;
  text-align: center;
  padding: 0 25px;
}

.dimension-group p {
  margin-bottom: 3px;
}

.dimension-group .dimension-title span {
  font-weight: bold;
  font-size: 1.15em;
}

.dimension-group .category span {
  font-weight: bold;
}

/* gereic idea form */
.idea-form {
  width: 98%;
  max-width: 960px;
  margin: 20px auto;
  padding: 0 0 10px 0;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.idea-form .form-group {
  display: flex;
  flex-direction: column;
}

.idea-form-body .form-group textarea {
  resize: none !important;
  height: 130px;
}

textarea {
  resize: none;
}

div.idea-form-header {
  background: #6E6E6E;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 56px;
  border-radius: 5px 5px 0px 0px;
}

.idea-form-header svg {
  font-size: 1.5em;
  margin: 0 8px;
}

.idea-form-header h4 {
  margin: 0;
}

div.idea-form-body {
  margin-top: 20px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}

.idea-form-body .button-group {
  align-self: flex-end;
}

.idea-form-body .button-group a,
.idea-desc .button-group a {
  width: 100px;
  background-color: #6E6E6E;
  border: 1px solid #ccc;
  margin-top: 25px;
  color: #fefefe;
}

.idea-desc .button-group {
  align-self: center;
}

div.idea-form-body button {
  width: 100px;
  background-color: #6E6E6E;
  border: 1px solid #ccc;
  margin-top: 25px;
}

div.idea-form-body button:hover,
div.idea-form-body a:hover {
  background: #333 !important;
}

div.idea-form-body .form-group select {
  width: 40%;
}

/*Landing Page*/
.brief-explanation {
  background: url("../images/lamp_idea_1-50.png");
  background-size: auto auto;
  min-height: 450px;
  background-size: cover;
  text-align: center;
  padding-top: 25px;
  font-family: sans-serif;
  background-position-y: 5%;
  padding: 8% 15% 0 15%;
}

.brief-explanation h1 {
  margin: 0;
  font-size: 4em;
}

.brief-explanation p {
  font-size: 2em;
}

.idea-launch {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  font-family: sans-serif;
}

.idea-launch .launch-text {
  max-width: 550px;
}

.launch-text h2 {
  font-size: 2.5em;
  color: #5990A4;
}
.launch-text h2 footer.landing-page {
  min-height: 60px;
  background: #333;
  color: #E6E6E6;
}

.launch-text p {
  color: #666666;
  font-size: 1.1em;
  text-align: justify;
}

.idea-launch * {
  margin: 0 50px;
}

.launch-text * {
  margin: 10px 0;
}

.functionality {
  background: url("../images/keyboard.jpg");
  width: 100%;
  min-height: 500px;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /*! background-position-x: 15%; */
}

.function-list {
  max-width: 60%;
  padding-right: 100px;
  min-height: 500px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  font-family: "Open Sans", sans-serif;
}

.function-list h2,
.function-list h3 {
  color: #5990A4;
}

.function-list p {
  font-size: 1.2em;
}

.why-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 1%;
}

@media (max-width: 320px) {
  .functionality {
    background-position-x: 50%;
  }

  .function-list {
    max-width: 90%;
  }

  .brief-explanation {
    padding: 8% 5% 0 5%;
    min-height: 350px;
  }

  .brief-explanation h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  .brief-explanation p {
    font-size: 1.1em;
    text-align: justify;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  .functionality {
    background-position-x: 50%;
  }

  .function-list {
    max-width: 90%;
  }

  .brief-explanation {
    padding: 8% 5% 0 5%;
    min-height: 350px;
  }

  .brief-explanation h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  .brief-explanation p {
    font-size: 1.1em;
    text-align: justify;
  }
}
@media (max-width: 550px) {
  .idea-launch {
    flex-flow: column-reverse;
  }

  .idea-launch * {
    margin: 10px 20px;
  }

  .idea-launch img {
    height: auto;
    width: 30%;
  }

  .idea {
    width: 95% !important;
  }

  #idea-list {
    flex-direction: column !important;
    align-items: center;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .functionality {
    background-position-x: 50%;
  }

  .function-list {
    max-width: 70%;
  }

  .brief-explanation {
    padding: 3% 5% 0 5%;
    min-height: 350px;
  }

  .brief-explanation h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }

  .brief-explanation p {
    font-size: 1.4em;
    text-align: justify;
  }

  #idea-list {
    flex-direction: column !important;
    align-items: center;
  }

  .idea {
    width: 95% !important;
    align-self: initial;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .functionality {
    background-position-x: 15%;
  }

  .function-list {
    max-width: 50%;
  }

  .brief-explanation {
    padding: 3% 10% 0 10%;
    min-height: 350px;
  }

  .brief-explanation h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
  }

  .brief-explanation p {
    font-size: 1.8em;
    text-align: justify;
  }

  .idea {
    width: 40% !important;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .idea {
    width: 48% !important;
  }
}
@media (max-width: 1200px) {
  .idea-page {
    flex-direction: column;
  }

  .idea-desc {
    width: 100%;
  }

  .idea-interaction {
    width: 100%;
    padding-top: 50px;
  }

  #idea-tab {
    justify-content: flex-start;
  }
}
.like {
  color: #0014f2;
}

.dislike {
  color: #f20000;
}

.activeVote {
  font-weight: bold;
}

.media-left {
  width: 15px;
  display: table-cell;
  vertical-align: top;
  padding-right: 10px;
}

#evaluation .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#evaluation .form-group select,
#evaluation .form-group input {
  width: 100%;
}

#evaluation .form-group textarea {
  height: 70px;
  resize: none;
  width: 100%;
}

#evaluation .form-group label {
  font-weight: bold;
  padding-top: 5px;
}

#evaluation {
  max-height: 81vh;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 10px;
  padding-top: 15px;
}

.score {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0 20px 0;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.score #score_value {
  font-weight: bold;
}

.hide {
  display: none;
}

.group {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
  flex-wrap: wrap;
  content: "";
  flex: auto;
}

.idea-card {
  border: 1px solid #dddddd;
  height: 400px;
  width: 270px !important;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 60px;
}

.img-container {
  width: 100%;
  height: 170px;
  position: relative;
  overflow: hidden;
  display: block;
}

.img-container img {
  width: 100%;
  height: auto;
  position: absolute;
}

.idea-card .img-analytics {
  width: 100%;
  height: 120px;
  background-image: url("https://cdn.pixabay.com/photo/2017/10/17/14/10/financial-2860753_960_720.jpg");
  background-size: cover;
  background-repeat: space;
  background-position-y: -10px;
}

.idea-card .img-gestao {
  width: 100%;
  height: 120px;
  background-image: url("https://cdn.pixabay.com/photo/2018/03/28/09/44/document-3268750_960_720.jpg");
  background-size: cover;
  background-repeat: space;
  background-position-y: -10px;
}

.idea-card .img-support {
  width: 100%;
  height: 120px;
  background-image: url("https://cdn.pixabay.com/photo/2018/02/14/10/28/business-3152586_960_720.jpg");
  background-size: cover;
  background-repeat: space;
  background-position-y: -30px;
}

.idea-card h1 {
  margin-top: 10px;
  font-size: 0.95em;
  font-weight: bold;
  line-height: 1.3;
}

.card-author {
  font-size: 0.7em;
  margin-bottom: 5px;
  font-weight: bold;
  color: rgba(1, 1, 1, 0.7);
}

.idea-card .cat-name {
  margin-top: 10px;
  font-size: 0.7em;
  font-weight: bold;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  padding-bottom: 10px;
}

.idea-content {
  padding: 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.idea-card-body {
  max-height: 219px;
  overflow: hidden;
  height: 100%;
  display: block;
  text-decoration: none !important;
  color: inherit;
}

.idea-card-body:hover {
  color: black;
}

.short-desc {
  font-size: 0.83em;
  color: #6a6a6a;
}

.card-phase {
  font-size: 0.7em;
  font-weight: bold;
  padding: 10px 0;
  color: #6a6a6a;
}

.card-line {
  margin-top: 20px;
  width: 100%;
  height: 2px;
}

.title-modal-term {
  font-weight: bold;
}

.invite{
  background-image: url("../images/grey-logo.png");
  width: 730px;
  height: 560px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 53px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 30px;
}

.invite-body{
  text-align: center;
}

.invite-body div{
  display: inline;
}

.invite-footer img{
  height: auto;
  width: 70px
}

.invite-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.invite-footer .dep-info{
  font-size: 12px;
}

.invite-footer .dep-info p{
  margin: 0;
  font-weight: bold;
  text-align: center;
}