{% load staticfiles i18n %}

{% include 'ideax/includes/chatbot.html' %}

{% if not user.is_authenticated %}
  <nav class="navbar fixed-bottom navbar-dark bg-dark footer shadow-sm">
    <span class="navbar-text mx-auto">
        <span class="alpha-version">Idea<sup>X</sup> - Software in alpha stage</span>
    </span>
  </nav>
{% else %}
  <nav class="navbar fixed-bottom navbar-light bg-light footer shadow-sm">
    <span class="navbar-text mx-auto">
        <span class="alpha-version">Idea<sup>X</sup> - Software in alpha stage</span>
    </span>
  </nav>
{% endif %}