{% load staticfiles i18n %}
<div class="bot-control" data-toggle="collapse" data-target="#bot-iframe">
  <p>{% trans 'Help' %}</p>
  <i class="fas fa-angle-down"></i>
</div>
<iframe id="bot-iframe" class="collapse" width="350" height="430" src="https://console.dialogflow.com/api-client/demo/embedded/5d7dfc5a-1a3d-4d60-9ef6-bd2cfc285318"></iframe>

<footer {% if not user.is_authenticated %}class="landing-page"{% endif %} >
    <div class="logo">
      <p class="alpha-version">Idea X - Software in alpha stage 2018-03-29</p>
    </div>

    <div class="modal fade" id="modal-term" data-backdrop="static" data-keyboard="false" data-url="{% url 'term_of_use' %}">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">
            <span><i class="fas fa-exclamation"></i></span>
              <h4>{% trans 'Terms of use' %}</h4>
            </div>
          </div>
          <div class="modal-body" id="modal-term-text">
            TERMO DE USO
          </div>
          <div class="modal-footer">
            <a id="term-decline" class="term-btn" href="{% url 'logout' %}">{% trans 'Decline' %}</a>
            <a id="term-accept" class="term-btn" href="{% url 'accept_term' %}">{% trans 'Accept' %}</a>
          </div>
        </div>
      </div>
    </div>
</footer>
