<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../../../static/css/ftec.css" rel="stylesheet">
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <div class="ftec-header" id="header-report">
        <img class="dtp-logo" src="../../../static/images/logo-dtp.png" alt="">
        <div class="header-text-container">
          <div class="dept-group">
            <p>Diretoria de Relacionamento, Desenvolvimento e Informações - DRD</p>
            <p>Departamento de Inovação - DEIN</p>
            <p>Divisão de Estruturação, Processos e Tecnologia para Inovação - DIEP</p>
          </div>
          <div class="meta-info">
            <p>Processo de Inovação Dataprev</p>
            <p>Ficha Técnica da Idéia</p>
          </div>
        </div>
      </div>
    </header>
    <!-- HEADER -->
  </body>
</html>
