{% load widget_tweaks %}

<div class="idea {{idea.get_phase_display|lower}}">
  <div class="idea-header">
    <h1>
      {% if link_title == True %}
        <a onclick="openModal('{% url 'idea_detail' pk=idea.pk %}')">{{ idea.title }}</a>
      {% else%}
        {{ idea.title }}
      {% endif%}

    </h1>

    <p>
      {{ idea.creation_date|date:"d/m/Y" }}
    </p>
    <div class="idea-options">

      <input class="menu-input" type="checkbox" id="menu{{idea.pk}}">
      <label for="menu{{idea.pk}}">
      <i class="fas fa-bars"></i>
      </label>

            <div class="options-content">
              <ul>
                <li><a href="">Crescendo</a></li>
                <li><a href="">Avaliando</a></li>
                <li><a href="">Agindo</a></li>
                <li><a href="">Feita</a></li>
                <li><a href="">Arquivada</a></li>
                <li class="actions">
                  <div class="action edit">
                    <button class="js-update-idea" data-url="{% url 'idea_edit' pk=idea.pk %}"><i class="far fa-edit"></i></button>
                  </div>
                  <div class="action delete">
                    <button class="js-remove-idea" data-url="{% url 'idea_remove' pk=idea.pk %}"><i class="far fa-trash-alt"></i></button>
                  </div>


                </li>


              </ul>
            </div>
          </div>
  </div>
  <div class="idea-desc">
    <p><span class="bold">Descrição: </span>{{ idea.description|linebreaksbr }}</p>
  </div>
  <div class="idea-footer">

    <div class="phase">
        <div class="phase-symbol {{ idea.get_phase_display|lower }}-phase">
          <i class="fas fa-comments"></i>
        </div>
        <p class="phase-name">{{ idea.get_phase_display }}</p>
    </div>



    <div class="like-menu">
      <div class="liked">
        <a class="like" onclick="vote('{% url 'like_ideia' pk=idea.pk %}', '.liked_idea_{{idea.id}}', '.disliked_idea_{{idea.id}}', '.like_{{idea.id}}', '.dislike_{{idea.id}}')" href="javascript:void(0)">
          <i class="{%if idea.id in ideas_liked %} fas {% else %} far {% endif %} fa-thumbs-up like_{{idea.id}}" ></i>
          <p class="liked_idea_{{idea.id}} ">
            {{ idea.count_likes }}
          </p>
        </a>
      </div>
      <div class="disliked">
        <a class="dislike" onclick="vote('{% url 'dislike_ideia' pk=idea.pk %}', '.liked_idea_{{idea.id}}', '.disliked_idea_{{idea.id}}', '.like_{{idea.id}}', '.dislike_{{idea.id}}')" href="javascript:void(0)">
          <i class="{%if idea.id in ideas_disliked %} fas {% else %} far {% endif %} fa-thumbs-down dislike_{{idea.id}}"></i>
          <p class="disliked_idea_{{idea.id}}">
            {{ idea.count_dislikes }}
          </p>
        </a>
      </div>
    </div>



    <!-- {% if idea.id in ideas_created_by_me %}
    <div class="button-group">
      <button type="button" class="btn btn-sm js-update-idea" data-url="{% url 'idea_edit' pk=idea.pk %}">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>

      <button type="button" class="btn btn-sm js-remove-idea" data-url="{% url 'idea_remove' pk=idea.pk %}">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
    </div>
    {% endif%} -->
  </div>

</div>
