{% load widget_tweaks i18n %}

<form method="post" class="post-form js-idea-update-form" action="{% url 'idea_edit' form.instance.pk %}" data-modal="#modal-idea-crud" data-list-div="#idea-list">
  {% csrf_token %}

  <div class="modal-header">
    <div class="modal-title">
      <h4 class="modal-title">{% trans 'Update Idea' %}</h4>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>


  <div class="modal-body">
    {% include 'ideax/includes/partial_idea_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
    <button type="submit" class="btn btn-primary">{% trans 'Update' %}</button>
  </div>
</form>
