{% load mptt_tags %}
{% load widget_tweaks i18n %}
{% load humanize %}
  
  <div id="comments-list" class="comment-list">
    {% recursetree comments %}
      <div class="media comment pb-2">
        <div class="media-body">
          <div class="card">
            <h5 class="card-header">{{ node.author.user }} <small class="text-muted">{% trans 'made a comment' %} {{ node.date|naturaltime}}</small></h5>
            <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">{{ node.raw_comment|safe }}</div>
                </div>
                <div class="row">
                  <div class="col-sm-12 text-right reply-link reply-container">
                      <a href="javascript:void(0)" data-idea-id="{{idea_id}}" data-parent-id="{{ node.id }}" name="replyButton">{% trans 'reply' %}</a>
                  </div>
                </div>
            </div>
          </div>
          {% if not node.is_leaf_node %}
          <div class="reply pl-3 pt-2">
            {{ children }}
          </div>
          {% endif %}
        </div>
      </div>
    {% endrecursetree %}
  </div>
