{% extends "ideax/base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}
    {% if form.errors %}
      <div class="alert alert-danger">
        <div class="login-error-message">
            Your username and password didn't match. Please try again.
        </div>
      </div>

    {% endif %}

    <div class="login-box">
      <img class="login-icon" src="{% static 'images/idea_launch.png' %}" alt="">
      <p class="login-info">É necessário fazer o login para ter acesso às ideias.</p>
      <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
          <table>
          <tr>
              <td>{{ form.username|attr:'class:login-field'|attr:'placeholder:nome.sobrenome' }}</td>
          </tr>
          <tr>
              <td>{{ form.password|attr:'class:login-field'|attr:'placeholder:senha' }}</td>
          </tr>
          </table>

          <input type="submit" value="login" class="login-button" />
          <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
{% endblock %}
