{% load staticfiles %}
<html>
    <head>
        <title>Ideia X</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    </head>
    <body>
      <div class="main-header">
        <a href="/">
          <h1 class="title">
            <img src="{% static 'images/logo_vertical.png' %}" alt="">
          </h1>
        </a>
        {% if user.is_authenticated %}
        <div class="menu">
          <a class="icon  js-create-idea" href="javascript:void(0)" data-url="/idea/new/" class="top-menu js-create-idea">
            <span><i class="fas fa-lightbulb"></i></span>
            <p>Nova Ideia</p>
          </a>
          <a href="" class="icon unavailable">
            <span><i class="fas fa-tag"></i></span>
            <p>Nova Categoria</p>
          </a>
          <a href="" class="icon unavailable">
            <span><i class="fas fa-bullseye"></i></span>
            <p>Nova Missão</p>
          </a>
          <a href="" class="icon unavailable">
            <span><i class="fas fa-gavel"></i></span>
            <p>Novo Critério</p>
          </a>
        </div>
        <div class="login">
          <p>Olá, {{ user.username }}</p>
          <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a>
        </div>
        {% else %}
        <div class="login">
          <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i></a>
        </div>

        {% endif %}
      </div>


        <div class="content   {% if user.is_authenticated %}container{% endif %}">


                {% block content %}
                {% endblock %}


        </div>
        <footer {% if not user.is_authenticated %}class="landing-page"{% endif %} ><div class="logo"><p class="alpha-version">Idea X - Software in alpha stage</p></div></footer>
        <script
			  src="//code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        </script>

        <script src="{% static '/js/idea.js' %}"></script>


      </body>
    </html>
