<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="../../static/css/ftec.css" rel="stylesheet">
  <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="wrapper">
  <!-- HEADER -->
  <div class="ftec-header">
    <img class="dtp-logo" src="../../static/images/logo-dtp.png" alt="">
    <div class="header-text-container">
      <div class="dept-group">
        <p>Diretoria de Relacionamento, Desenvolvimento e Informações - DRD</p>
        <p>Departamento de Inovação - DEIN</p>
        <p>Divisão de Estruturação, Processos e Tecnologia para Inovação - DIEP</p>
      </div>
      <div class="meta-info">
        <p>Processo de Inovação Dataprev</p>
        <p>Ficha Técnica da Idéia</p>
      </div>
    </div>
  </div>
  <!-- HEADER -->

  <!-- BODY -->
  <div class="document">
    <!-- PRIMEIRA PÁGINA -->
    <h1 class="doc-title">
      CRIAÇÃO DE ROTINA PARA ATENDER SERVIÇO DE RATING DOS
CONSIGNADOS PARA O MERCADO
    </h1>
    <div class="doc-body">
      <div class="general-info">
        <div class="info">
          <h3>OPORTUNIDADE:</h3>
          <p>Atender a demanda de créditos a partir da carteira de empréstimos das instituições
financeiras que operam empréstimos consignados do INSS. Esse mercado pode
gerar novas receitas à Dataprev sem prejuízo aos serviços já prestados e ainda
estimular a ampliação do crédito no mercado de consignados, pressionando assim,
para menor, as taxas dos bancos.</p>
        </div>
        <div class="info">
          <h3>SOLUÇÃO:</h3>
          <p>Processar e disponibilizar as informações necessárias para o mercado calcular a
classificação (rating) da consistência dos empréstimos consignados vinculados às
entidades financeiras, permitindo a essas utilizarem sua carteira como ativo para
obter mais recursos para apoiar novos empréstimos. Este serviço implicará em
promover ainda o serviço de transferência da gestão dos empréstimos ao credor em
caso de execução.</p>
        </div>
        <div class="info">
          <h3>PÚBLICO-ALVO:</h3>
          <p>Entidades Financeiras, Seguradoras, Empresas Especializadas em Rating, Operadoras de Crédito entre Bancos.
</p>
        </div>
      </div>
      <div class="extra-info">
        <h3>INFORMAÇÕES ADICIONAIS:</h3>
        <ul>
          <li><span class="bold">Autor: </span>Alan do Nascimento Santos</li>
          <li><span class="bold">Data do cadastro: ​</span>16/04/2018</li>
          <li><span class="bold">Data da última atualização:​ </span>16/04/2018</li>
          <li><span class="bold">Pontuação: </span>3,57</li>
          <li><span class="bold">Índice de aceitação:​ </span>100%</li>
          <li><span class="bold">Total de votos: </span>02 (dois)</li>
          <li><span class="bold">Identificador IdeiaX: </span>#121</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- PRIMEIRA PÁGINA -->

  <!-- SEGUNDA PÁGINA -->
  <div class="att">
    <h2 class="att-id bold">ANEXO I</h2>
    <h3 class="att-title">AVALIAÇÃO DA EQUIPE DA INOVAÇÃO</h3>
    <h3 class="att-score">PONTUAÇÃO TOTAL: 3,57 / 5,0</h3>
    <div class="evaluation-group">
      <div class="eval">
        <p><span class="eval-title">CLIENTE: </span>Avaliar se o(s) cliente(s) do serviço é (são) relevante(s) para o contexto de
  negócio da Dataprev.</p>
        <ul>
          <li><span class="bold">Nota: </span>5 / 5</li>
          <li><span class="bold">Justificativa: </span>Reforça a Dataprev como solucionadora de problemas
relacionados ao empréstimo consignado. Associado a um dos principais
produtos da Dataprev, pode ser a porta de entrada de possíveis mudanças
na legislação da CVM.</li>
        </ul>
      </div>
      <div class="eval">
        <p><span class="eval-title">OPORTUNIDADE: </span>Avaliar se a oportunidade de negócio (os serviços pretendidos pelo cliente) atende a requisitos estratégicos do cliente.
</p>
        <ul>
          <li><span class="bold">Nota: </span>5 / 5</li>
          <li><span class="bold">Justificativa: </span>A construção de uma solução de "Rating" de empréstimos pode viabilizar a inclusão de mais uma via de atendimento a Bancos que já consomem os serviços de Empréstimo Consignado. Além disso, trata-se de serviço associado à área fim da empresa e com potencial estratégico para clientes.
</li>
        </ul>
      </div>
      <div class="eval">
        <p><span class="eval-title">VISIBILIDADE: </span>Avaliar as condições de visibilidade para imagem da empresa frente ao mercado de TI pública / de TI privada.</p>
        <ul>
          <li><span class="bold">Nota: </span>4 / 5</li>
          <li><span class="bold">Justificativa: </span>Acompanhar a evolução da fintech em um ramo promissor para a área financeira pode associar a Dataprev a imagem de agilidade e inovação. Entretanto, devido a baixa complexidade e baixo ineditismo da solução, a nota mais adequada é 4.
</li>
        </ul>
      </div>
      <div class="eval">
        <p><span class="eval-title">COMPLEXIDADE DO SERVIÇO: </span>Avaliar as condições e a dificuldade na implementação do projeto / serviço proposto para atendimento ao cliente.</p>
        <ul>
          <li><span class="bold">Nota: </span>4 / 5</li>
          <li><span class="bold">Justificativa: </span>Impõe novas linhas de desenvolvimento ao ECO. O expertise na casa na Base de Informações, Modelo de Negócio e tecnologias para provisionar a solução torna a implementação como média/baixa complexidade. O possível desenvolvimento de solução de API com gateway e exposição de serviços pode provocar a necessidade de modelagem ou aquisição de produtos.
</li>
        </ul>
      </div>
      <div class="eval">
        <p><span class="eval-title">RENTABILIDADE (RoT): </span>Avaliar se o serviço a ser prestado possui alto potencial de rentabilidade para a Dataprev (relação preço x investimento deve ser considerada).
</p>
        <ul>
          <li><span class="bold">Nota: </span>4 / 5</li>
          <li><span class="bold">Justificativa: </span>O serviço é exclusivo e com potencial baixo custo de aquisições (Custo da aquisição pode ser compartilhado com outras áreas que possuem a mesma necessidade).
</li>
        </ul>
      </div>
      <div class="eval">
        <p><span class="eval-title">ESTRATÉGIA DATAPREV:: </span>Avaliar se o(s) cliente(s) do serviço é (são) relevante(s) para o contexto de
  negócio da Dataprev.</p>
        <ul>
          <li><span class="bold">Nota: </span>3 / 5</li>
          <li><span class="bold">Justificativa: </span>O resultado 5.5.01 aponta evoluções no ECO para 2018 com o objetivo de desonerar o atendimento nas ASPs e dar transparência para os beneficiários em relação aos seus empréstimos consignados. O alinhamento com o plano de negócio pode existir, mas atualmente a relação é pequena. Além disso a solução deverá ser implantada em plataforma já disponível no DCRJ, possivelmente com serviços e sistemas já disponíveis no mercado.
</li>
        </ul>
      </div>
      <div class="eval">
        <p><span class="eval-title">ESTRATÉGIA EXECUTIVO: </span>Avaliar se a oportunidade está alinhada com o direcionamento estratégico da Diretoria da empresa.
</p>
        <ul>
          <li><span class="bold">Nota: </span>1 / 5</li>
          <li><span class="bold">Justificativa: </span>O eixo clientes prevê o objetivos que estão alinhados a inclusão do serviço juntamente a novos parceiros expandindo mercado para a Dataprev. Entretanto, nesse momento, não temos a informação se a estratégia está alinhada com o direcionamento estratégico da Diretoria.</li>
        </ul>
      </div>
      <div class="eval">
        <p><span class="eval-title">FIDELIZAÇÃO: </span>Determina o grau de dependência da Dataprev em relação ao modelo de serviços.
</p>
        <ul>
          <li><span class="bold">Nota: </span>5 / 5</li>
          <li><span class="bold">Justificativa: </span>A Dataprev depende diretamente na aprovação da liberação das informações por parte do INSS. Além disso, como única provedora de informações de empréstimo consignado, os clientes dependem da dataprev para obter a informação. Nas duas vias a dependência é forte.</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- SEGUNDO PÁGINA -->

  <!-- BODY -->

</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="js/script.js"></script>
</body>

</html>
