{% extends 'ideax/base.html' %}
{% load widget_tweaks i18n %}


{% block content %}
<div class="idea-form">

  <form method="post" class="post-form js-idea-update-form" action="{% url 'idea_edit' form.instance.pk %}" data-modal="#modal-idea-crud" data-list-div="#idea-list">
    {% csrf_token %}
    <div class="idea-form-header">
      <i class="far fa-edit"></i>
      <h4 class="modal-title">{% trans 'Update Idea' %}</h4>
    </div>
    <div class="idea-form-body">
      {% include 'ideax/includes/partial_idea_form.html' %}
      <div class="button-group">
        <a class="back-redirect btn" href="/">{% trans 'Return' %}</a>
        <button type="submit" class="btn btn-primary">{% trans 'Update' %}</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
