{% extends 'ideax/base.html' %}
{% load i18n %}

{% block content %}
    <nav class="phase-filter">

      <ul class="phase-list">
        {% for phase in phases %}
            <li onclick="filterIdeas('{% url 'idea_filter' phase_pk=phase.0 %}')"><a href="#">{{ phase.1 }}</a></li>
        {% endfor %}
        <!-- <li class="active"><a href="#">{% trans 'All' %}</a></li>
        <li><a href="#">{% trans 'Discussion' %}</a></li>
        <li><a href="#">{% trans 'Evaluation' %}</a></li>
        <li><a href="#">{% trans 'Approval' %}</a></li>
        <li><a href="#">{% trans 'Development' %}</a></li>
        <li><a href="#">{% trans 'Finished' %}</a></li>
        <li><a href="#">{% trans 'Archived' %}</a></li> -->
      </ul>
    </nav>
    {% for message in messages %}
      <div class="alert alert-dismissible alert-{{ message.tags }}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ message }}
      </div>
    {% endfor %}
    <div id="idea-list">
      {%if not ideas %}
          {% include 'ideax/includes/empty.html' %}
      {%else%}
        {% for idea in ideas %}
            {% include 'ideax/includes/idea_detail.html' %}
        {% endfor %}
      {%endif%}
    </div>
    {% include 'ideax/includes/modals.html' %}
{% endblock %}
