{% extends 'ideax/base.html' %}
{% load widget_tweaks i18n %}


{% block content %}
<div class="idea-list-bg">
  <h1 class="display-3">{% trans 'Edit Idea' %}</h1>
</div>
<div class="idea-form container">
  <form method="post" class="post-form js-idea-update-form" action="{% url 'idea_edit' form.instance.pk %}" data-modal="#modal-idea-crud" data-list-div="#idea-list">
    {% csrf_token %}
    <div class="idea-form-body">
      {% include 'ideax/includes/partial_idea_form.html' %}
      <div class="button-group">
        <a class="back-redirect btn" href="/">{% trans 'Return' %}</a>
        <button type="submit" class="btn btn-primary">{% trans 'Update' %}</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
