{% extends 'ideax/base.html' %}
{% load widget_tweaks i18n %}


{% block content %}
    <h1>{% trans 'New Idea' %}</h1>

    <form method="post" class="post-form">
      {% csrf_token %}
      {% for field in form.visible_fields %}
        <div class="form-group">
          <label for="{{field.id_for_label}}">{{field.label}}</label>
          {{ field|add_class:'form_control' }}
          {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
        </div>
      {% endfor %}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-ok"></span> {% trans 'Save' %}
        </button>

      </div>
    </form>
{% endblock %}
