{% extends 'ideax/base.html' %}
{% load i18n %}

{% block content %}
    <nav class="phase-filter">
      <ul class="phase-list">
        <li class="active"><a href="#">{% trans 'All' %}</a></li>
        <li><a href="#">{% trans 'Discussion' %}</a></li>
        <li><a href="#">{% trans 'Evaluation' %}</a></li>
        <li><a href="#">{% trans 'Approval' %}</a></li>
        <li><a href="#">{% trans 'Development' %}</a></li>
        <li><a href="#">{% trans 'Finished' %}</a></li>
        <li><a href="#">{% trans 'Archived' %}</a></li>
      </ul>
    </nav>
    <div id="idea-list">
      {% for idea in ideas %}
          {% include 'ideax/includes/idea_detail.html' %}
      {% endfor %}
    </div>
    {% include 'ideax/includes/modals.html' %}
{% endblock %}
