{% extends 'ideax/base.html' %}
{% load staticfiles i18n %}

{% block content %}
    <div class="brief-explanation">
      <h1>{% trans 'brief-explanation-title' %}</h1>
      <p>{% trans 'brief-explanation-description' %}</p>
    </div>
    <div class="idea-launch">
      <div class="launch-text">
        <h2>{% trans 'launch-text-title' %}</h2>
        <p>{% trans 'brief-explanation-p-1' %}</p>
        <p>{% trans 'brief-explanation-p-2' %}</p>
      </div>
      <img src="{% static 'images/idea_launch.png' %}" alt="">
    </div>
    <div class="functionality">
      <div class="function-list">
        <h2>{% trans 'Features' %}</h2>
        <div class="function-item">
          <h3>{% trans 'Register Ideas' %}</h3>
          <p>{% trans 'Register Ideas-p' %}</p>
        </div>

        <div class="function-item">
          <h3>{% trans 'Manage Ideas' %}</h3>
          <p>{% trans 'Manage Ideas-p' %}</p>
        </div>

        <div class="function-item">
          <h3>{% trans 'Intagration with other systems' %}</h3>
          <p>{% trans 'Intagration with other systems-p' %}</p>
        </div>
      </div>
    </div>
    <div class="why-info">
      <img src="{% static 'images/idea_why.png' %}" alt="">
    </div>
{% endblock %}
